#author {
    color: #4A4A4A;
    font-weight: bold;
}

#author:hover {
    text-decoration: underline;
}

.box {
    padding: 2rem;
}

#comment .box {
    padding: 1.25rem;
    border: 1px solid #DBDBDB;
}