<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>TIARY</title>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous" defer></script>

    <script th:inline="javascript">
        const nickname = [[${nickname}]];

        const page = [[${page}]];
        const size = [[${size}]];
    </script>

    <script src="/js/fragments/header.js" defer></script>
    <script src="/js/profile.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header th:replace="view/fragments/header.html :: header"></header>

<section class="section px-4">
    <div class="container is-max-desktop">
        <div class="is-flex is-flex-direction-row mb-6">
            <figure class="image is-96x96">
                <img src="https://bulma.io/images/placeholders/96x96.png" id="picture">
            </figure>

            <div class="ml-5">
                <h4 id="nickname" class="title is-4">닉네임</h4>

                <a th:if="${editPermission}" href="/profile/editor"
                   class="button has-background-primary-dark has-text-white is-size-7">수정</a>
            </div>
        </div>

        <div class="is-flex is-align-content-center is-justify-content-space-between">
            <h4 class="title is-4">TIL</h4>

            <a th:if="${editPermission}" href="/til/editor"
               class="button has-background-primary-dark has-text-white is-size-7">작성</a>
        </div>

        <div id="til" class="is-flex is-flex-direction-column"></div>

        <nav class="pagination is-centered">
            <ul id="pagination-list" class="pagination-list"></ul>
        </nav>
    </div>
</section>
</body>
</html>